<!doctype html>
<html>

<head>
  <title>N.Netbrain</title>

  <script type="text/javascript" src="/static/js/vis.js"></script>
  <link href="/static/js/vis-network.min.css" rel="stylesheet" type="text/css" />

  <style type="text/css">
    #mynetwork {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  </style>

</head>

<body background="{{url_for('static', filename='grid.png')}}">
  <p>
    Create a simple network with some nodes and edges.
  </p>

  <div id="mynetwork"></div>
  <script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript">

    //Load all JSONs.
    //Loading HOst
    var host, mainNodes, greenNodes, redNodes, orangeNodes;
    $.ajax({
      url: 'static/host.json',
      dataType: 'json',
      async: false,
      success: function (data) {
        host = data;
      }
    });
    $.ajax({
      url: 'static/nodes.json',
      dataType: 'json',
      async: false,
      success: function (data) {
        mainNodes = data.TABLE_vrf.ROW_vrf.map(function (node) {
          var newNode = {
            ...node,
            id: node.vrf_id * 1000,
            label: node.vrf_name
          }
          switch (newNode.label) {
            case 'GREEN':
              newNode.color = { background: 'green', border: 'black' };
              break;
            case 'ORANGE':
              newNode.color = { background: 'orange', border: 'black' };
              break;
            case 'RED':
              newNode.color = { background: 'red', border: 'black' };
              break;
          }
          delete newNode.vrf_id;
          delete newNode.vrf_name;
          return newNode;

        });
      }
    });

    loadColorNodes('static/orange.json', function (data) {
      orangeNodes = data
    });
    loadColorNodes('static/red.json', function (data) {
      redNodes = data;
    });
    loadColorNodes('static/green.json', function (data) {
      greenNodes = data;
    });

    // create a network
    var container = document.getElementById('mynetwork');
    var options = {
      /* layout: {
        hierarchical: {
          direction: 'LR'
        }
      } */
    };
    var data = getNetwork(host, mainNodes, orangeNodes, redNodes, greenNodes);
    var network = new vis.Network(container, data, options);

    function getNetwork(host, mainNodes, orangeNodes, redNodes, greenNodes) {
      var nodes = [];
      var edges = [];
      nodes.push({ id: 0, label: host.hostname });
      nodes.push(...mainNodes);
      nodes.push(...orangeNodes.map(function (node) {
        return {
          ...node,
          color: { background: 'orange', border: 'black' }
        }
      }));
      nodes.push(...redNodes.map(function (node) {
        return {
          ...node,
          color: { background: 'red', border: 'black' }
        }
      }));
      nodes.push(...greenNodes.map(function (node) {
        return {
          ...node,
          color: { background: 'green', border: 'black' }
        }
      }));
      mainNodes.forEach(function (node) {
        edges.push({ from: 0, to: node.id })
      });
      orangeNodes.forEach(function (node) {
        edges.push({ from: 6000, to: node.id, label: node.prefix, font: { align: 'middle' }, length: 100 })
      });
      redNodes.forEach(function (node) {
        edges.push({ from: 8000, to: node.id, label: node.prefix, font: { align: 'middle' }, length: 100 })
      });
      greenNodes.forEach(function (node) {
        edges.push({ from: 4000, to: node.id, label: node.prefix, font: { align: 'middle' }, length: 100 })
      });
      return { nodes, edges };

    }

    function loadColorNodes(url, callback) {

      $.ajax({
        url: url,
        dataType: 'json',
        async: false,
        success: function (data) {
          callback(data.TABLE_intf.map(function (node) {
            var newNode = {
              ...node.ROW_intf,
              id: node.ROW_intf.iod,
              label: node.ROW_intf['intf-name']
            };
            delete newNode.iod;
            delete newNode['intf-name'];

            return newNode;
          }));
        }
      });
    };
  </script>
</body>

</html>